// Framework config
// -----------------------------------------------------------------------------

$container : 768px; // Container width in px
$numcol    : 12;	// Grid columns number
$gutter    : 30px; 	// Grid gutter in px
$baseline  : 24px; 	// Vertical baseline

// -----------------------------------------------------------------------------
// $WooCommerce pages
// -----------------------------------------------------------------------------

@import "__woocommerce-dimensions.scss";