// Mini cart
// -----------------------------------------------------------------------------

.thb-mini-cart-icon {
	float: right;
	z-index: 200;
}

.logo-right {
	.thb-mini-cart-icon {
		float: left;
	}

	.thb_mini_cart_wrapper {
		left: 0;
	}

	.thb-mini-cart-icon {
		margin-right: $gutter;
		margin-left: 0;
	}

	.thb-product-number {
		right: -6px;
		left: auto;
	}
}

.thb-product-numbers {
	@include position(absolute, 0px null null -6px);
	@extend %highlight_background_color;
	color: #fff;
	text-align: center;
	line-height: 1;
	border-radius: 10px;
	font-size: 11px;
	padding: 3px 6px;
	z-index: 10;
}

#thb-cart-trigger {
	@include position(absolute, 0px null null 0px);
	font-size: 0;
	line-height: 0;
	border-bottom: 0;
	@include size(38px);
	// border-radius: 100%;

	&:after {
		@include size(38px);
		@extend %icon;
		content: "O";
		font-size: 20px;
		line-height: 34px;
		text-align: center;
		@include position(absolute, 0px null null 0px);
		// border: 2px solid $grey;
		// border-radius: 100%;
	}
}

.thb_mini_cart_wrapper {
	@extend %border_box;
	@include transform(translate3d(0,0,0));
	display: none;
	@include opacity(0);
	@include transition(opacity .05s linear);
	width: 260px;
	@include position(absolute, 100% 0px null null);
	z-index: 10;
	padding: $baseline/2;
	border: 1px solid $grey;
	// border: 2px solid $grey;
	// border-radius: 5px;
	background: $white;
}

.thb-mini-cart-active {
	.thb_mini_cart_wrapper {
		@include opacity(100);
	}

	#thb-cart-trigger {
		background: $grey_dark;
		color: $white;
	}
}

.thb-mini-cart-icon {
	position: relative;
	@include size(38px);
	margin-left: $gutter;
}

.widget_shopping_cart_content,
.thb_mini_cart_wrapper {
	.total {
		border-top: 1px solid $grey;
		padding-top: $baseline/2;
		margin-top: $baseline/2;
		font-weight: bold;
		clear: both;
	}

	.buttons {
		margin-top: $baseline/2;

		.button {
			@extend %border_box;
			display: inline-block;
			padding: $baseline/3 $gutter/2;
			margin-top: $baseline/2;
			text-transform: uppercase;
			font-weight: bold;
			background-color: $grey_light;
			color: $black;
			border-bottom: 0;

			&:hover {
				color: $white;
				background-color: $grey_dark;
			}

			&.checkout {
				color: $white;
				background-color: #8cc151;

				&:hover {
					background-color: $grey_dark;
				}
			}
		}
	}
}

// -----------------------------------------------------------------------------
// $Cart sidebar
// -----------------------------------------------------------------------------

.thb-skin-light {
	#thb-cart-trigger:after {
		color: $white;
		border-color: $white;
	}

	#main-nav {
		ul.cart_list,
		ul.product_list_widget {
			li a {
				color: $grey_dark;
			}
		}
	}

	&.thb-mini-cart-active {
		#thb-cart-trigger {
			background: $white;

			&:after {
				color: $grey_dark;
			}
		}
	}
}

body.thb-skin-light.header-fixed #header.scrolled {
	#thb-cart-trigger:after {
		color: $grey_dark;
	}
}

#main-nav {
	ul.cart_list,
	ul.product_list_widget {
		li {
			@extend %clearfix;
			display: block;
			padding: $baseline/4 $baseline/2;
			margin-left: -($baseline/2);
			margin-right: -($baseline/2);
			margin-bottom: 0;

			&:hover {
				background-color: #f9f9f9;
			}

			a {
				padding: 0;
				margin-bottom: $baseline/3;
				display: block;
				@extend %ff_sourcesans;
				text-transform: none;
				font-weight: normal;
				font-size: 14px;

				&:hover {
					&:before {
						display: none;
					}
				}
			}
		}
	}
}

ul.cart_list,
ul.product_list_widget {

	li {
		list-style-type: none;
		@extend %clearfix;
		margin-bottom: $baseline;
		padding-top: 0;

		a {
			display: block;
			font-weight: bold;
			font-size: 16px;
			margin-bottom: $baseline/3;
			border-bottom: none;
		}

		&.empty {
			margin-bottom: 0;
			text-transform: none;
			font-size: 14px;
		}

		.wp-post-image {
			position: relative;
			display: block;
			float: left;
			text-decoration: none;
			margin-bottom: 0;
			height: auto;
			width: 54px;
			overflow: hidden;
			margin-right: $baseline/2;

			img {
				width: 100%;
				height: auto;
			}
		}

		.amount {
			font-weight: bold;
			color: #333;
		}

		.from,
		del .amount {
			color: #999;
		}

		ins {
			text-decoration: none;
		}

		.variation {
			@extend %clearfix;
			display: block;
			font-size: 12px;
			color: #333;
			overflow: hidden;

			dt {
				float: left;
				clear: both;
				display: block;

				&:before {
					content: "-";
					display: inline-block;
					float: left;
					margin-right: 4px;
				}
			}

			dd {
				float: left;
				display: block;
			}
		}

		.star-rating {
			float: none;
			display: block;
			margin-bottom: 5px;
			font-size: .8em;
		}
	}
}