/*
| ------------------------------------------------------------------------------
| $Font families
| ------------------------------------------------------------------------------
*/
/*
| ------------------------------------------------------------------------------
| $Commons
| ------------------------------------------------------------------------------
*/
.su-tabs-pane, .su-column { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.su-quote:after { font-family: "blaine"; font-weight: normal; text-transform: none; text-indent: 0; display: block; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* 
| ------------------------------------------------------------------------------
| $Highlight color
| ------------------------------------------------------------------------------
*/
.su-tabs-nav span.su-tabs-current { background-color: #ef5248; }

/* Content colors */
/* Footer sidebar colors */
/* Footer colors */
/*** Shortcodes Ultimate - box elements ***/
/*		Tabs + Tab
---------------------------------------------------------------*/
.su-tabs { margin: 0 0 24px 0; }

.su-tabs-nav span { display: inline-block; margin-right: 5px; padding: 8px 15px; cursor: pointer; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; transition: all 0.2s; position: relative; margin-bottom: -1px; border-bottom: 1px solid transparent; font-weight: bold; text-transform: uppercase; }
.su-tabs-nav span.su-tabs-current { color: #fff; }
.su-tabs-nav span.su-tabs-disabled { -khtml-opacity: 0.5; -moz-opacity: 0.5; opacity: 0.5; filter: alpha(opacity=50); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; cursor: default; }

.su-tabs-pane { padding: 24px 0 0; border-top: 1px solid rgba(100, 100, 100, 0.4); }

.su-tabs-vertical .su-tabs-nav { width: 200px; float: left; border-bottom: 0; }
.su-tabs-vertical .su-tabs-nav span { display: block; margin-bottom: 0; margin-right: -1px; border-bottom: 0; }
.su-tabs-vertical .su-tabs-pane { height: 100%; margin-left: 200px; border-top: 0; border-left: 1px solid rgba(100, 100, 100, 0.4); padding: 0 0 0 24px; }

/*		Spoiler
---------------------------------------------------------------*/
.su-spoiler { margin-bottom: 24px; padding: 10px 10px 0 10px; -webkit-transition: border-color 0.15s linear; -moz-transition: border-color 0.15s linear; transition: border-color 0.15s linear; }
.su-spoiler:last-child { margin-bottom: 0; }
.su-spoiler.su-spoiler-closed > .su-spoiler-content { height: 0; margin: 0; padding: 0; border: none; overflow: hidden; -khtml-opacity: 0; -moz-opacity: 0; opacity: 0; filter: alpha(opacity=0); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.su-accordion .su-spoiler { margin-bottom: 5px; }

.su-accordion { margin-bottom: 24px; }

.su-spoiler-title { position: relative; cursor: pointer; }

.su-spoiler-style-default > .su-spoiler-title { min-height: 16px; padding: 0 0 12px 24px; font-weight: bold; line-height: 16px; border-bottom-width: 2px; border-bottom-style: solid; text-transform: uppercase; }

.su-spoiler-style-default.su-spoiler-closed > .su-spoiler-title { border-bottom-width: 1px; border-bottom-color: rgba(100, 100, 100, 0.4); }

.su-spoiler-style-default > .su-spoiler-title > .su-spoiler-icon { position: absolute; top: 0; left: 0; display: block; width: 16px; height: 16px; text-align: center; }
.su-spoiler-style-default > .su-spoiler-title > .su-spoiler-icon:before { content: "M"; font-family: "blaine"; font-size: 11px; line-height: 16px; text-transform: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transition: color 0.15s linear; -moz-transition: color 0.15s linear; transition: color 0.15s linear; }

.su-spoiler-style-default.su-spoiler-closed > .su-spoiler-title > .su-spoiler-icon:before { content: "L"; }

.su-spoiler-style-default > .su-spoiler-content { margin: 24px 0 24px 24px; }

.su-spoiler-style-fancy { background: #fff; border: 1px solid rgba(100, 100, 100, 0.4); border-radius: 10px; }

.su-spoiler-style-fancy > .su-spoiler-title { min-height: 20px; padding: 7px 7px 7px 36px; border-bottom: 1px solid rgba(100, 100, 100, 0.4); border-radius: 10px; background: #f0f0f0; color: #333; font-weight: bold; font-size: 0.9em; line-height: 20px; }

.su-spoiler-style-fancy.su-spoiler-closed > .su-spoiler-title { border: none; }

.su-spoiler-style-fancy > .su-spoiler-title > .su-spoiler-icon { position: absolute; top: 10px; left: 10px; display: block; width: 16px; height: 16px; background: 0 -16px url("spoiler.png") no-repeat; }

.su-spoiler-style-fancy.su-spoiler-closed > .su-spoiler-title > .su-spoiler-icon { background: 0 0 url("spoiler.png") no-repeat; }

.su-spoiler-style-fancy > .su-spoiler-content { padding: 1em; border-radius: 10px; background: #fff; color: #333; }

.su-spoiler-style-simple { border-top: 1px solid rgba(100, 100, 100, 0.4); border-bottom: 1px solid rgba(100, 100, 100, 0.4); }

.su-spoiler-style-simple > .su-spoiler-title { min-height: 20px; padding: 5px 10px; background: #f0f0f0; color: #333; font-weight: bold; font-size: 0.9em; line-height: 20px; }

.su-spoiler-style-simple > .su-spoiler-title > .su-spoiler-icon { display: none; }

.su-spoiler-style-simple > .su-spoiler-content { padding: 1em 10px; background: #fff; color: #333; }

/*		Quote
---------------------------------------------------------------*/
.su-quote { clear: both; position: relative; font-size: 18px; line-height: 1.4; font-style: italic; padding: 0 30px 0 0; margin: 24px 160px 24px 0; border-right: 3px solid rgba(100, 100, 100, 0.2); }
.su-quote:after { content: "e"; display: block; float: right; font-style: normal; font-size: 48px; line-height: 1; color: rgba(100, 100, 100, 0.2); position: absolute; top: 0px; right: -78px; }

.su-quote-has-cite { margin-bottom: 3em; }

.su-quote-cite { display: block; border-top: 1px solid rgba(100, 100, 100, 0.4); font-size: 12px; padding-top: 12px; margin-top: 12px; }
.su-quote-cite a { text-decoration: underline; }

/*		Pullquote
---------------------------------------------------------------*/
.su-pullquote { display: block; width: 30%; padding: 0.5em 1em; }

.su-pullquote-align-left { margin: 0.5em 1.5em 1em 0; padding-left: 0; float: left; border-right: 5px solid #eee; }

.su-pullquote-align-right { margin: 0.5em 0 1em 1.5em; padding-right: 0; float: right; border-left: 5px solid #eee; }

/*		Row + Column
---------------------------------------------------------------*/
.su-row { clear: both; zoom: 1; }
.su-row:last-of-type .su-column { margin-bottom: 0; }

.su-row:before, .su-row:after { content: ""; display: table; }

.su-row:after { clear: both; }

.su-column { display: block; float: left; margin: 0 4% 24px 0; }

.su-column-last { margin-right: 0; }

.su-row .su-column { margin: 0 0 24px 4%; }

.su-row .su-column:first-child { margin-left: 0; }

.su-column-centered { float: none !important; margin-left: auto !important; margin-right: auto !important; }

.su-column img, .su-column iframe, .su-column object, .su-column embed { max-width: 100%; }

@media only screen { [class*="su-column"] + [class*="su-column"]:last-child { float: right; } }
.su-column-size-1-1 { width: 100%; }

.su-column-size-1-2 { width: 48%; }

.su-column-size-1-3 { width: 30.66%; }

.su-column-size-2-3 { width: 65.33%; }

.su-column-size-1-4 { width: 22%; }

.su-column-size-3-4 { width: 74%; }

.su-column-size-1-5 { width: 16.8%; }

.su-column-size-2-5 { width: 37.6%; }

.su-column-size-3-5 { width: 58.4%; }

.su-column-size-4-5 { width: 79.2%; }

.su-column-size-1-6 { width: 13.33%; }

.su-column-size-5-6 { width: 82.66%; }

/* Styles for screens that are less than 768px */
@media only screen and (max-width: 768px) { .su-column { width: 100% !important; float: none !important; margin: 0 0 24px 0 !important; } }
/*		Service
---------------------------------------------------------------*/
.su-service { position: relative; margin: 0 0 1.5em 0; }

.su-service-title { *zoom: 1; display: block; margin-bottom: 12px; color: #333; font-weight: bold; font-size: 1.1em; line-height: 1.25 !important; height: auto !important; }
.su-service-title:before, .su-service-title:after { content: " "; display: table; }
.su-service-title:after { clear: both; }

.su-service-title img { position: absolute; top: 0; left: 0; display: block !important; margin: 0 !important; padding: 0 !important; border: none !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }

.su-service-title i { position: absolute; top: 0; left: 0; display: block !important; width: 1em; height: 1em; text-align: center; line-height: 1em; }

.su-service-content { line-height: 1.4; }

/*		Box
---------------------------------------------------------------*/
.su-box { margin: 0 0 24px 0; border-width: 1px; border-style: solid; }

.su-box-title { display: block; padding: 0.5em 1em; font-weight: bold; font-size: 1.1em; }

.su-box-content { background-color: #fff; color: #444; }

.su-box-content { padding: 1em; }

.su-box-style-soft .su-box-title { background-image: url("styles/style-soft.png"); background-position: 0 0; background-repeat: repeat-x; }

.su-box-style-glass .su-box-title { background-image: url("styles/style-glass.png"); background-position: 0 50%; background-repeat: repeat-x; }

.su-box-style-bubbles .su-box-title { background-image: url("styles/style-bubbles.png"); background-position: 0 50%; background-repeat: repeat-x; }

.su-box-style-noise .su-box-title { background-image: url("styles/style-noise.png"); background-position: 0 0; background-repeat: repeat-x; }

/*		Note
---------------------------------------------------------------*/
.su-note { margin: 0 0 1.5em 0; border-width: 1px; border-style: solid; }

.su-note-inner { padding: 1em; border-width: 1px; border-style: solid; }
