/******************************
*
*  RoyalSlider THB Skin
*
*    1. Arrows
*    2. Bullets
*    3. Thumbnails
*    4. Preloader
*
******************************/


/* Background */
.rsTHB,
.rsTHB .rsOverflow,
.rsTHB .rsSlide,
.rsTHB .rsVideoFrameHolder,
.rsTHB .rsThumbs {
	background: #FFF;
}

.rsTHB {
	position: relative;
}

.rsTHB .rsContainer .slide {
	width: 100%;
	height: 100%;
}


/*.rsTHB .rsContainer .slide iframe,*/
.rsTHB .rsContainer .slide .wp-video,
.rsTHB .rsContainer .slide .mejs-video {
	width: 100% !important;
	height: 100% !important;
}

/***************
*
*  1. Arrows
*
****************/

.rsTHB .rsArrow {
	height: 100px;
	width: 60px;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 500;
	top: 50%;
	margin-top: -50px;
	color: #fff;
}

.rsTHB.rsHor .rsArrowLeft { left: 0; }
.rsTHB.rsHor .rsArrowRight { right: 0; }

.rsTHB .rsArrowIcn {
	width: 48px;
	height: 48px;
	top: 50%;
	left: 50%;
	margin-top: -24px;
	margin-left: -24px;

	position: absolute;
	cursor: pointer;
	opacity: 0.6;
}

.rsTHB .rsArrowIcn:before {
	font-family: "blaine";
	font-weight: normal;
	text-transform: none;
	text-indent: 0;
	display: block;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 48px;
	line-height: 1;
	text-shadow: 0 0 15px rgba(0,0,0,.5);
}

.rsTHB .rsArrow:hover .rsArrowIcn {
	opacity: 1;
}

.rsTHB.rsHor .rsArrowLeft .rsArrowIcn:before { content: "S"; }
.rsTHB.rsHor .rsArrowRight .rsArrowIcn:before { content: "R"; }

.rsTHB .rsArrowDisabled .rsArrowIcn { opacity: .1 !important; filter: alpha(opacity=20);  *display: none; }


/***************
*
*  2. Bullets
*
****************/

.rsTHB .rsBullets {
	position: absolute;
	z-index: 35;
	width: 100%;
	height: auto;
	margin: 0 auto 6px;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	line-height: 5px;
	overflow: hidden;
	opacity: 0;
}
.rsTHB .rsBullet {
	width: 8px;
	height: 8px;
	display: inline-block;
	*display:inline;
	*zoom:1;
	padding: 5px;
}
.rsTHB .rsBullet span {
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #ccc;
	background: rgba(255,255,255,.5);
	cursor: pointer;
}
.rsTHB .rsBullet.rsNavSelected span {
	background-color: #000;
}

.rsTHB:hover .rsBullets {
	opacity: 1;
}



/***************
*
*  3. Thumbnails
*
****************/

.rsTHB .rsThumbsHor {
	width: 100%;
	height: 90px;
}
.rsTHB.rsWithThumbsHor .rsThumbsContainer {
	position: relative;
	height: 100%;
}
.rsTHB .rsThumb {
	float: left;
	overflow: hidden;
	width: 90px;
	height: 90px;
}
.rsTHB .rsThumb img {
	width: 100%;
	height: 100%;
}
.rsTHB .rsThumb.rsNavSelected {
	background: #333;
}
.rsTHB .rsThumb.rsNavSelected img {
	opacity: 0.7;
	filter: alpha(opacity=30);
}
.rsTHB .rsThumb.rsNavSelected .thumbIco {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 2px solid #FFF;
	border: 2px solid rgba(255,255,255,0.9);
	-webkit-backface-visibility: hidden;
}

.rsTHB .rsTmb {
	display: block;
}

/* Thumbnails with text */
.rsTHB .rsTmb h5 {
	font-size: 16px;
	margin: 0;
	padding: 0;
	line-height: 20px;
}
.rsTHB .rsTmb span {
	color: #DDD;
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 18px;
}



/* Thumbnails arrow icons */
.rsTHB .rsThumbsArrow {
	height: 100%;
	width: 20px;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 21;
}

.rsTHB.rsWithThumbsHor .rsThumbsArrowLeft { left: 0; top: 0; }
.rsTHB.rsWithThumbsHor .rsThumbsArrowRight { right: 0; top:0; }

.rsTHB .rsThumbsArrowIcn {
	width: 16px;
	height: 16px;
	top: 50%;
	left: 50%;
	margin-top:-8px;
	margin-left: -8px;
	position: absolute;
	cursor: pointer;
}

.rsTHB .rsThumbsArrowIcn:before {
	font-family: "blaine";
	font-weight: normal;
	text-transform: none;
	text-indent: 0;
	display: block;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	line-height: 1;
}

.rsTHB.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn:before { content: "C";  }
.rsTHB.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn:before { content: "b";  }

.rsTHB .rsThumbsArrowDisabled { display: none !important; }


/***************
*
*  4. Preloader
*
****************/

.rsTHB .rsPreloader {
	width: 20px;
	height: 20px;
	background-image:url(preloader-white.gif);
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -10px;
}


/***************
*
*  5. Play/close video button
*
****************/

.rsTHB .rsVideoFrameHolder {
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.rsTHB .rsVideoFrameHolder.rsVideoActive {
	z-index: 1;
}

.rsTHB .rsPlayBtn {
	-webkit-tap-highlight-color:rgba(0,0,0,0.3);
	width:64px;
	height:64px;
	margin-left:-32px;
	margin-top:-32px;
	cursor: pointer;
}

.rsTHB .rsPlayBtnIcon {
	position: relative;
	width: 64px;
	display: block;
	height: 64px;
	-webkit-border-radius: 4px;
	border-radius: 4px;

	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;

	background-color: #000;
	background-color: rgba(0,0,0,0.75);
	*background-color: #000;

	opacity: 1;
}

.rsTHB.rsVideoPlaying .rsPlayBtnIcon {
	opacity: 0;
}

.rsTHB .rsPlayBtnIcon:before {
	font-family: 'blaine';
	font-weight: normal;
	text-transform: none;
	text-indent: 0;
	display: block;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "V";
	color: #fff;
	width: 64px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 32px;
}

.rsTHB .rsPlayBtn:hover .rsPlayBtnIcon,
.rsTHB .rsCloseVideoBtn:hover .rsCloseVideoIcn {
	background-color: rgba(0,0,0,0.9);
}

.rsTHB .rsBtnCenterer {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 20;
}

.rsTHB .rsCloseVideoBtn {
	display: block;
	position: relative;
	width: 64px;
	height: 64px;
	left: 50%;
	top: 50%;
	margin-top: -32px;
	margin-left: -32px;

	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;

	z-index: 500;
	position: absolute;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	opacity: 0;
}

.rsTHB.rsVideoPlaying:hover .rsCloseVideoBtn {
	opacity: 1;
}

.rsTHB .rsCloseVideoIcn {
	width: 64px;
	height: 64px;
	-webkit-border-radius: 4px;
	border-radius: 4px;

	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	background-color: #000;
	background-color: rgba(0,0,0,0.75);
	*background-color: #000;
}

.rsTHB .rsCloseVideoIcn:before {
	font-family: 'blaine';
	font-weight: normal;
	text-transform: none;
	text-indent: 0;
	display: block;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "N";
	color: #fff;;
	width: 64px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 16px;
}

.rsTHB .rsCloseVideoIcn:hover {
	background-color: rgba(0,0,0,0.9);
}

/* iOs fixes */

.rsTHB .rsIOSVideo .rsCloseVideoBtn {
	top: 0;
	left: auto;
	bottom: 0;
	right: 0;
	margin-top: 0;
	margin-left: 0;
	width: 44px;
	height: 576px; 
}

.rsTHB .rsIOSVideo .rsCloseVideoIcn {
	width: 44px;
	height: 576px;
	-webkit-border-radius: 0;
	border-radius: 0;
	background-color: rgba(0,0,0,0.9);
}

.rsTHB .rsIOSVideo .rsCloseVideoIcn:before {
	width: 44px;
	height: 576px;
	line-height: 576px;
}

.rsTHB.rsVideoPlaying .rsIOSVideo .rsCloseVideoBtn {
	opacity: 1;
}

.rsTHB.rsVideoPlaying .rsIOSVideo .rsPlayBtn {
	pointer-events: none;
}

@media screen and (max-width: 990px) {
	.rsTHB .rsIOSVideo .rsCloseVideoBtn {
		height: 380px; 
	}

	.rsTHB .rsIOSVideo .rsCloseVideoIcn {
		height: 380px;
	}

	.rsTHB .rsIOSVideo .rsCloseVideoIcn:before {
		height: 380px;
		line-height: 380px;
	}
}